@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 font-family: 'Raleway';
 background-color: #121212;
 color: #e0e0e0;
 padding: 0;
}

@layer base {
 @font-face {
  font-family: 'Raleway';
  src: url('../public/assets/fonts/Raleway-SemiBold.ttf');
 }
 @font-face {
  font-family: 'Raleway-thin';
  src: url('../public/assets/fonts/Raleway-Thin.ttf');
 }
}
